/*DETAIL PRODUCT*/
#detail-product-wp .thumb-wp, #detail-product-wp .thumb-respon-wp{ width: 42%;}
#detail-product-wp .thumb-respon-wp{ border: 1px solid #c7c7c7;}
#detail-product-wp .info{ 
    width: 58%; 
    padding-left: 25px;
}
#detail-product-wp .section-detail, #post-product-wp .section-detail{background: #fff; padding: 15px;}
#main-thumb .zoomWrapper img, #detail-product-wp .owl-carousel .owl-item a img{ border: 1px solid #d9d9d9;}
#list-thumb{ margin-top: 25px;}
#detail-product-wp .owl-carousel .owl-item{ padding: 0px 4px;}
#detail-product-wp .owl-carousel .owl-item a{ display: block; }
#detail-product-wp .owl-controls{ position: relative;margin-top: 20px;height: 26px;}
#detail-product-wp .owl-controls .owl-buttons div{ 
    position: absolute; 
    bottom: 42px;
}
#detail-product-wp .owl-controls .owl-buttons div.owl-next{ right: 0px;}
#detail-product-wp .owl-controls .owl-buttons div.owl-prev{ left: -8px;}
#detail-product-wp .owl-controls .owl-buttons div.owl-next:before, #detail-product-wp .owl-controls .owl-buttons div.owl-prev:before{
    position: absolute;
    font-family: 'Fontawesome';
    top: 0;
    left: 0;
    font-size: 26px;
    opacity: 0.5;
}
#detail-product-wp .owl-controls .owl-buttons div:hover:before{ opacity: 1;}
#detail-product-wp .owl-controls .owl-buttons div.owl-next:before{ content: '\f105';}
#detail-product-wp .owl-controls .owl-buttons div.owl-prev:before{ content: '\f104';}
.thumb-respon-wp{ display: none;}
#detail-product-wp .info .product-name{
    font-size: 24px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
}
#detail-product-wp .info .desc p{
    color: #666;
    padding-bottom: 5px;
}
#detail-product-wp .info .desc p:last-child{ padding-bottom: 0;}
#detail-product-wp .info .desc{ margin-bottom: 15px;}
#detail-product-wp .info .num-product{ margin-bottom: 25px;}
#detail-product-wp .info .num-product .title{ color: #666}
#detail-product-wp .info .num-product .status{
    display: inline-block;
    background: #ddd;
    padding: 0px 10px;
}
#detail-product-wp .info .price{
    font-size: 28px;
    font-family: 'Roboto Medium';
    color: #f12a43;
    margin-bottom: 15px;
}
#num-order-wp{ margin-bottom: 25px;}
#num-order{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #b1b1b1;
    font-family: "Roboto Regular";
    color: #545454;
}
#minus, #plus{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-family: "Roboto Regular";
    color: #515151;
    font-size: 10px;
    cursor: pointer;
}
#minus:hover{
    color: #3a9800;
    border: 1px solid #3a9800;
}
#plus:hover{
    color: #F00;
    border: 1px solid #F00;
}
#detail-product-wp .add-cart{
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    background: green;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}
#detail-product-wp .add-cart:hover{ background: #006d00;}
#post-product-wp .section-title, #same-category-wp .section-title{
    font-size: 21px;
    margin: 35px 0px 20px 0px;
    text-transform: uppercase;
}
#post-product-wp .section-detail p{ padding-bottom: 15px; color: #666; text-align: justify;}
.notification{
    background: white;
    min-height: 500px;
    text-align: center;
}
.notification span{
    padding-top: 80px;
}
.notification span img{
    display: inline-block;
}
.notification p {
    font-size: 16px;
}
.action button{
    font-size: 12px;
    border-radius: unset;
}
#post-product-wp .section-detail p{
    margin: 10px 0;
    font-size: 16px;
}
#post-product-wp .section-detail h2,h3,h4{
    font-size: 20px;
}

.zoomWrapper img{
    border: 1px solid #d9d9d9;
}
.thumbnails li a{
    display: block;
    border: 1px solid #d9d9d9;
} 
/* DETAIL PRODUCT */
.thumb-wp img{
    max-width: unset;
}
/*  */
.thumbnails li{
    float: left;
    margin-right: 8px;
}
.thumbnails li.active a,.color ul li.active b{
    border:1px solid #05f701;
}
.color li b{                               
    border: 1px solid #ccc8c8;
}
/*  */
#post-product-wp{
    height: 600px;
    overflow: hidden;
    position: relative;
}
.dtcvmodetail, .dtchide {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 130px;
    padding-top: 80px;
    text-align: center;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.91) 55%,rgba(255,255,255,1) 60%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(55%,rgba(255,255,255,.91)),color-stop(60%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.91) 55%,rgba(255,255,255,1) 60%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.91) 55%,rgba(255,255,255,1) 60%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.91) 55%,rgba(255,255,255,1) 60%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.91) 55%,rgba(255,255,255,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
}
.dtcvmodetail span, .dtchide span {
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 13px;
    color: #3d3d3d;
    background: #fff;
    border: solid 1px #b2b2b2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.dtcvmodetail span i, .dtchide span i {
    font-style: normal;
    font-size: 18px;
    line-height: 0;
    position: relative;
    top: 2px;
    color: #3d3d3d;
}
.dtshow{
    height: auto!important;
    padding-bottom: 80px;
}
